@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --max-width: 1100px;
  --background-color: #ffffff;
  --green-color: #002E25;
  --pale-green-color: #CDFA89;
  --gray-color: #737574;
  --archio-font: "Archivo", sans-serif;
  --inter-font: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #ffffff;
    --green-color: #002E25;
    --pale-green-color: #CDFA89;
    --gray-color: #737574;
    --archio-font: "Archivo", sans-serif;
    --inter-font: "Inter", sans-serif;
  }
}



* {
  box-sizing: border-box;
  font-family: var(--inter-font);
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--gray-color);
  background-color: var(--background-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  hr {
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
  }

  button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
  }

  input {
    padding-inline: 16px;
    border: none;
    outline: none;
  }

  select,
  input {
    background-color: transparent;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}